html *
{
   font-family: Trebuchet MS !important;
}

.nav-bar {
	display: flex;
	background: #30d6d9;
  	width: 100%;
  	margin-bottom: 10px;
  	position: fixed;
  	top: 0px;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.nav-bar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.nav-bar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.nav-bar ul li a:hover {
  color: #333333;
}
.nav-bar ul li a:hover:before {
  width: 100%;
}
.nav-bar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.nav-bar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
.nav-bar ul li:last-child > a:after {
  display: none;
}
.nav-bar ul li.active a {
  color: #333333;
}
.nav-bar ul li.active a:before {
  width: 100%;
}

.tab {
	background-color: yellow;
}

.tab.extra {
	background-color: green;
}

#main-body {
	display: flex;
}

.profile-img {
	width: 500px;
	height: auto;
	padding: 20px;
}

.page {
	margin-top: 40px;
	padding: 10px;
}

.meme-collection {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.column {
	flex: 25%;
	max-width: 25%;
 	padding: 0 4px;
}

.column > img {
 	margin-top: 8px;
 	vertical-align: middle;
 	width: 100%;
}

.meme-collection-2  ul{
	display: flex;
	flex-wrap: wrap;
  list-style-type: none;
}

.meme-collection-2 li{
  padding: 5px;
	flex-grow: 1;
}

.meme-collection-2 img {
  max-height: auto;
  width: 300px;
  object-fit: cover;
  vertical-align: center;
}

/*animations page CSS */
.animations-desc {
  padding: 20px;
  padding-bottom: 0px;
}

.contain_archive {
  width: 100%;
}
.row_nm_videos {
  overflow-x: scroll;
  width: 100%;
}
.row__inner {
  -webkit-transition: 450ms transform;
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 140.625px 140px;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 281.25px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.tile__img {
  width: 500px;
  height: 281.25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  -webkit-transform: translate3d(-150px, 0, 0);
          transform: translate3d(-150px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.7;
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(400px, 0, 0);
          transform: translate3d(400px, 0, 0);
}

.tile_desc{
  position: absolute;
  bottom: 10px;  
  color: #fff;
  font-size: .610em;
  font-family: "Crimson Text";
  margin-left: 10px;
  font-weight: 100;
}
.tile_desc:after {
    display: block;
    width: 20px;
    height: 0;
    font-weight: 100;
    border-bottom: 0.160em solid;
    content: "";
    color: #fff;
}
.tube-btn {
  position: relative;
  background: black;
  color: #00ff44;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #00ff44;
  padding: 0.5em 1em;
}

.tube-btn:hover::before {
  right: 80%;
}
.tube-btn:hover::after {
  left: 80%;
}
.tube-btn::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
.tube-btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

h1 {
	padding: 20px;
	padding-bottom: 0px;
}

body {
	margin: 0px;
}