html *
{
   font-family: Trebuchet MS !important;
}

.top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition-duration: 0.4s;
  border-radius: 8px;
  color: black;
  border: none;

  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: #afa6ff;
  display: none;
}

.top-btn:hover {
  background-color: #614fff; 
  color: white;
}

/* Nav bar styling edited from cssmenumaker */
.nav-bar {
	display: flex;
	background: #30d6d9;
  width: 100%;
  margin-bottom: 10px;
  position: fixed;
  top: 0px;
  z-index: 999;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.nav-bar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.nav-bar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.nav-bar ul li a:hover {
  color: #333333;
}
.nav-bar ul li a:hover:before {
  width: 100%;
}
.nav-bar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.nav-bar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
.nav-bar ul li:last-child > a:after {
  display: none;
}
.nav-bar ul li.active a {
  color: #333333;
}
.nav-bar ul li.active a:before {
  width: 100%;
}

.tab {
	background-color: yellow;
}

.tab.extra {
	background-color: green;
}

#main-body {
	display: flex;
}

.profile-img {
	width: 500px;
	height: auto;
	padding: 20px;
}

.page {
	margin-top: 40px;
	padding: 10px;
}

.photo-collection {
  width: 100%;
  display: grid;
  margin: auto;
  padding: 4px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 1rem;

}
.photo-collection img {
  max-height: 540px;
  width: 300px;
  display: relative;
  margin: auto;
  object-fit: cover;
  cursor: pointer;
}

.photo-modal {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  background: rgba(0,0,0,0.75);
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  position: relative;
  background-color: white;
  width: 60vw;
  height: 85vh;
  justify-content: center;
  align-items: center;
  display: table-cell;
  vertical-align: middle;
  padding: 16px;
  border-radius: 16px;


}
.photo-modal img {
  position: relative;
  max-width: 100%; 
  max-height: 70vh;
}

.caption-container {

}

/* animations page CSS 
  Video slider CSS edited from https://codepen.io/netk/pen/ZpERkb */
.animations-desc {
  padding: 20px;
  padding-bottom: 0px;
}

.contain_archive {
  width: 100%;
}
.row_nm_videos {
  overflow-x: scroll;
  width: 100%;
}
.row__inner {
  -webkit-transition: 450ms transform;
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 140.625px 140px;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 281.25px;
  margin-right: 10px;
  font-size: 20px;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.tile__vid {
  width: 500px;
  height: 281.25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.row__inner:hover {
  -webkit-transform: translate3d(-150px, 0, 0);
          transform: translate3d(-150px, 0, 0);
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(400px, 0, 0);
          transform: translate3d(400px, 0, 0);
}

.tube-btn {
  position: relative;
  background: black;
  color: #00ff44;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  border: 0.2em solid #00ff44;
  padding: 0.5em 1em;

  transition-duration: 0.4s;
}

.tube-btn:hover {
  border: 0.2em solid #25cc51
}

/* Games Page */

.games-desc {
  padding: 20px;
  padding-bottom: 0px;
}

.game-content {
  padding: 0px 20px;
  display: block;
}
.game-section {
  width: 100%;
  display: flex;
}
.game-section {
  width: 100%;
  display: flex;
}

.game-img {
  width: 450px;
  height: auto;
}

/* Responsive */
@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {

}

h1 {
	padding: 20px;
	padding-bottom: 0px;
}

body {
	margin: 0px;
}