.header {

}

.nav-bar {
	display: flex;
}

.nav-bar > div {
	padding: 10px;
}

.tab {
	background-color: yellow;
}

.tab.extra {
	background-color: green;
}

#main-body {
	display: flex;
}