html *
{
   font-family: Trebuchet MS !important;
}

.top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition-duration: 0.4s;
  border-radius: 8px;
  color: black;
  border: none;

  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: #afa6ff;
  display: none;
}

.top-btn:hover {
  background-color: #614fff; 
  color: white;
}

/* Nav bar styling edited from cssmenumaker */
.nav-bar {
	display: flex;
	background: #30d6d9;
  width: 100%;
  margin-bottom: 10px;
  position: fixed;
  top: 0px;
  z-index: 999;
  cursor: pointer;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.nav-bar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.nav-bar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.nav-bar ul li a:hover {
  color: #333333;
}
.nav-bar ul li a:hover:before {
  width: 100%;
}
.nav-bar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.nav-bar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
.nav-bar ul li:last-child > a:after {
  display: none;
}
.nav-bar ul li.active a {
  color: #333333;
}
.nav-bar ul li.active a:before {
  width: 100%;
}

.tab {
	background-color: yellow;
}

.tab.extra {
	background-color: green;
}

#main-body {
  display: flex;
}

.profile-img {
	width: 500px;
	height: auto;
	padding: 20px;
}

.page {
	margin-top: 40px;
	padding: 10px;
}

.photo-collection {
  width: 100%;
  display: grid;
  margin: auto;
  padding: 4px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 1rem;

}
.photo-collection img {
  max-height: 540px;
  width: 300px;
  display: relative;
  margin: auto;
  object-fit: cover;
  cursor: pointer;
}

.photo-modal {
  position: fixed;
  left:0px;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  background: rgba(0,0,0,0.75);
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  position: relative;
  background-color: white;
  width: 60vw;
  justify-content: center;
  align-items: center;
  display: table-cell;
  vertical-align: middle;
  padding: 16px;
  border-radius: 16px;
}
.photo-modal img {
  position: relative;
  max-width: 100%; 
  max-height: 70vh;
}

/* animations page CSS 
  Video slider CSS edited from https://codepen.io/netk/pen/ZpERkb */
.animations-desc {
  padding: 20px;
  padding-bottom: 0px;
}

.contain_archive {
  width: 100%;
}
.row_nm_videos {
  overflow-x: scroll;
  width: 100%;
}
.row__inner {
  -webkit-transition: 450ms transform;
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 140.625px 140px;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 281.25px;
  margin-right: 10px;
  font-size: 20px;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.tile__vid {
  width: 500px;
  height: 281.25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.row__inner:hover {
  -webkit-transform: translate3d(-150px, 0, 0);
          transform: translate3d(-150px, 0, 0);
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(400px, 0, 0);
          transform: translate3d(400px, 0, 0);
}

.tube-btn {
  position: relative;
  background: black;
  color: #00ff44;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  border: 0.2em solid #00ff44;
  padding: 0.5em 1em;

  transition-duration: 0.4s;
}

.tube-btn:hover {
  border: 0.2em solid #25cc51
}

/* Games Page */

.games-desc {
  padding: 20px;
  padding-bottom: 0px;
}

.game-content {
  padding: 0px 20px;
  display: block;
}
.game-section {
  width: 100%;
  display: flex;
}
.game-section {
  width: 100%;
  display: flex;
}

.game-img {
  width: 450px;
  height: auto;
  position: relative;
}

.game-img-section {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  height: auto;
}

.contact-form {
  width: 35%;
  border-radius: 10px;
  overflow: hidden;

  padding: 32px 52px 32px 52px;
  box-shadow: 5px 10px 25px #888888;
}

.form-title {
  display: block;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  /*padding-bottom: 44px;*/
  text-decoration: underline;
}

.form-error {
  display: block;
  color: red;
  font-size: 18px;
  text-align: center;
  padding-bottom: 28px;
}

.form-input-field {
  position: relative;
  width: 100%;
  border-bottom: 2px solid #d4d4d4;
  padding-bottom: 1px;
  margin-bottom: 24px;
}

.form-input-field > input {
  height: 40px;
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 5px;
  outline: none;
  border: none;
  overflow: visible;
}

.form-radio-btns {
  justify-content: center;
  align-items: center;
  height: 40px;
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 5px;
  outline: none;
  border: none;
  overflow: visible;
}

.form-radio-btns > label {
  position: relative;
  top:8px;
  margin-right: 12px;
  height: 40px;
}

.form-submit {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 50%;
  height: 50px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  outline: none !important;
  border: none;
  cursor: pointer;
  border-radius: 24px;
  background: linear-gradient(0.2turn, #a64bf4, #00cfe6, #a64bf4);
}

.msg-box {
  width: 92%;
  padding: 8px 32px;
  overflow-y: scroll;
  height: 590px;
}

.msg {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display:flex;
}

.msg-left-div {
 position: relative;
 height: 100%;
 width: 50px;
 margin: auto 0;
}

.msg-right-div {
  width: calc(100% - 150px);
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}

.msg-right-div > span {
  font-size: 16px;
}
.msg-date-time {
  color: #aaa;
}

.msg-name {
  color: #0582b6;
  font-size: 20px !important;
  font-weight: bold;
}

.msg-desc {
  margin-left: 12px;
  color: #aaa;
}

.msg-text {
  padding: 8px 0;
}

.msg-avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  display: table-cell;
}

.scroll-more {
  position: relative;
  display: block;
  color: #545454;
}

.guestbook-msgs {
  width: 55%;
}

.movie-list {
  width: 100%;
  display: grid;
  margin: auto;
  padding: 4px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 1rem;

}

.movie-modal-content {
  position: relative;
  background-color: white;
  width: 66vw;
  display: flex;
  padding: 16px;
  border-radius: 16px;
}

.movie-list img {
  max-height: 540px;
  width: 300px;
  display: relative;
  margin: auto;
  object-fit: cover;
  cursor: pointer;
}
.movie-modal {
  position: fixed;
  left:0px;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  background: rgba(0,0,0,0.75);
  justify-content: center;
  align-items: center;
  display: none;
}

.movie-modal img {
  position: relative;
  max-width: 100%; 
  max-height: 300px;
}

.movie-info-container {
  padding: 0px 16px;
}

.movie-modal-ratings-container {
  display: flex;
  vertical-align: center;
  align-items: center;
}
.movie-modal-rating {
  background-color: #f3ce13; /*IMDb yellow*/
  padding: 8px;
  border-radius: 6px;
  width: auto;
  vertical-align: center;
  margin-left: 8px;
}

.movie-modal-rating-rt {
  background-color: red; 
  padding: 6px;
  border-radius: 6px;
  width: auto;
  vertical-align: center;
}

#movie-rating-imdb {
  background-color: white;
  border-radius: 2px;
  padding: 2px 4px;
}

#movie-rating-rt {
  background-color: white;
  border-radius: 2px;
  padding: 2px 4px;
}

.movie-list-container {
  margin-bottom: 16px;
}

.movie-list-top {
  padding: 8px 24px;
  height: 42px;
}

.movie-list-dropdown {
  position: relative;
  float:left;
}

.movie-list-dropdown-btn {
  background-color: #007bff;
  border-radius: 5px;
  color: white;
  padding: 12px;
  font-size: 16px;
  height: 42px;
  border: none;
  cursor: pointer;
}

.movie-list-dropdown-cnt {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.movie-list-dropdown-cnt a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.movie-list-dropdown-cnt a:hover {
  color: black;
  background-color: rgb(211, 211, 211);
}


.movie-list-dropdown-btn:hover {
  background-color: #006bde;
}

.movie-list-load-more {
  margin-top: 8px;
  position: relative;
  transition-duration: .4s;
  border-radius: 8px;
  color: #000;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: #afa6ff;
}

.movie-list-load-more:hover {
  background-color: #614fff; 
  color: white;
}
.movie-list-search {
  position: relative;
  float:right;
  height: 42px;
}

.movie-list-search-btn {
  border: 2px solid #00e63d;
  color: #00e63d;
  background-color: white;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  height: 38px;
  margin-left: 8px;
}

.movie-list-search-btn:hover {
  border: 2px solid #00ca36;
  color: #00ca36;
}

.movie-list-search-box {
  font-size: 16px;
  height: 32px;
  border-radius: 5px;
  padding: 2px 6px;
  border: 2px solid #ebebeb;
  outline: none;
}

.movie-list-search-box:focus {
  border: 2px solid #d6d6d6;
}

.movie-list-search-box:hover {
  border: 2px solid #d6d6d6;
}

.add-create-body {
  padding: 4px 20px;
}

.add-movie {
  width: auto;
}

.text-input-box {
  font-size: 16px;
  height: 32px;
  border-radius: 5px;
  padding: 2px 6px;
  border: 2px solid #ebebeb;
  outline: none;
  width: 300px;
}

.text-input-box:focus {
  border: 2px solid #d6d6d6;
  box-shadow: 3px 2px 7px #b1b1b1;
}

.text-input-box:hover {
  border: 2px solid #d6d6d6;
  box-shadow: 3px 2px 7px #b1b1b1;
}

.text-input-btn {
  border: 2px solid #006bde;
  color: white;
  background-color: #006bde;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  height: 38px;
  margin-left: 8px;
}

.text-input-btn:hover {
  background-color: #006bde;
  box-shadow: 3px 2px 7px #b1b1b1;
}

.small-txt {
  font-size: 12px;
  color: rgb(155, 155, 155)
}

.movie-modal-bottom {
  margin-top: 24px;
}

#modal-img {
  margin: auto;
}

#modal-imdb {
  display: none;
}

.add-to-list-btn {
  background-color: #007bff;
  border-radius: 5px;
  color: white;
  padding: 12px;
  font-size: 16px;
  height: 42px;
  border: none;
  cursor: pointer;
}

.add-to-list-cnt {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.add-to-list-cnt a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.add-to-list-cnt a:hover {
  color: black;
  background-color: rgb(211, 211, 211);
}

.add-to-list-btn:hover {
  background-color: #006bde;
}

.delete-movie-btn {
  margin-left: 20px;
  background-color: red;
  border-radius: 5px;
  color: white;
  padding: 12px;
  font-size: 16px;
  height: 42px;
  border: none;
  cursor: pointer;
}

.delete-movie-btn:hover {
  background-color: #de0000;
}

.small-txt-search {
  display: none;
  margin: 4px;
  font-size: 12px;
  color: rgb(155, 155, 155)
}

/* Responsive */
@media only screen and (max-width: 800px) {
  #main-body {
    flex-direction: column;
    margin: auto;
    align-content: center;
    justify-content: center;
  }
  #main-body div {
    margin: auto;
    padding: 12px;
  }
  #main-body div p {
    padding: 8px;
  }
  .profile-img {
    margin: auto;
  }

  .game-img {
    width: 250px;
    height: auto;
    margin: auto;
  }

  /* Animations */
  .tile {
    display: flex;
    margin: auto;
  }

  .row__inner {
    margin-top: 78px !important;
    margin: auto;
  }
  .tile {
    -webkit-transform-origin: center;
          transform-origin: center;
  }

  .row__inner:hover {
  -webkit-transform: translate3d(0, 0, 0px);
          transform: translate3d(0, 0, 0px);
  }
  .tile:hover ~ .tile {
  -webkit-transform: translate3d(0, 20px, 0);
          transform: translate3d(0, 20px, 0);
  }

  .row__inner:hover .tile:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  .row_nm_videos {
    overflow-y: hidden;
    height: 100%;
  }

  .contact-form {
    width: 90%;
  }
  .form-input-field {
    width: 90%;
    padding-bottom: 1px !important;
    margin-bottom: 24px !important;
  }

  .msg-box {
    width: 90%;
  }

  .msg {
    padding: 10px !important;
    margin: 10px 0 !important;
  }

  .msg-left-div {
    margin: auto 0 !important;
    padding: 0 !important;
  }

  .msg-right-div {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }

  .msg-avatar {
    margin: 0 !important;
    padding: 0 !important;
  }

  .form-error {
    padding-bottom: 12px;
  }

  .guestbook-msgs {
    width: 100%;
  }
}

h1 {
	padding: 20px;
	padding-bottom: 0px;
}

body {
	margin: 0px;
}